// app global css


@import url("./fonts/titillium_webfontkit/load_as_family.css");
/*
Titillium
    font-family: 'Titillium'
    font-style: normal | italic
    font-weight: 100 | 300 | 400 | 600 | 700 | 900
    or
    font-family: 'Titillium-Upright'
    font-style: normal
    font-weight: 100 | 300 | 400 | 600 | 700 | 900
    info: Upright is a little bit condensed and has a slim layout
*/


// Ruji's Handwriting Font v.2.0
// ' and . in the font name does not work...
// @font-face
//     font-family: "Ruji's Handwriting Font v.2.0"
//     src url(./fonts/RujisHandwritingFontv2.0/RujisHandwritingFontv.2.0.woff)
// @font-face
//     font-family: "Ruji's Handwriting Font v20"
//     src url(./fonts/RujisHandwritingFontv2.0/RujisHandwritingFontv.2.0.woff)
// @font-face
//     font-family: "Rujis Handwriting Font v.2.0"
//     src url(./fonts/RujisHandwritingFontv2.0/RujisHandwritingFontv.2.0.woff)
@font-face
    font-family: 'Rujis Handwriting Font v20'
    src url(./fonts/RujisHandwritingFontv2.0/RujisHandwritingFontv.2.0.woff)


@import url("./fonts/Office-Code-Pro/load_as_family.css");
/*
Office Code Pro
    font-family: 'Office Code Pro'
    font-style: normal | italic
    font-weight: 300 | 400 | 500 | 700
    or
    font-family: 'Office Code Pro D'
    font-style: normal | italic
    font-weight: 300 | 400 | 500 | 700
    info: Dotted Zero
*/

@import url("./fonts/Overpass/load_as_family.css");
/*
Overpass
    font-family: 'overpass'
    font-style: normal | italic
    font-weight: 200 | 300 | 400 | 500 | 600 | 700 | 800 | 900
    or
    font-family: 'overpass-mono'
    font-style: normal
    font-weight: 300 | 400 | 500 | 600
*/
