// app global css


// Titillium
@import url("./fonts/titillium_webfontkit/load_as_family.css");
// contained fonts:
//
//     Titillium
//     Thin
//     ThinItalic
//     Light
//     LightItalic
//     Regular
//     RegularItalic
//     Semibold
//     SemiboldItalic
//     Bold
//     BoldItalic
//     Black
//
//     Titillium-Upright
//     Thin
//     Light
//     normal
//     Semibold
//     Bold
//
//     use as:
//     font-family: 'Titillium'
//     font-style: normal | italic
//     font-weight: 100 | 300 | 400 | 600 | 700 | 900
//     or
//     font-family: 'Titillium-Upright'
//     font-style: normal
//     font-weight: 100 | 300 | 400 | 600 | 700 | 900
//     info: Upright is a little bit condensed and has a slim layout


// Ruji's Handwriting Font v.2.0
@font-face
  font-family RujisHandwritingFontv20
  src url(./fonts/RujisHandwritingFontv2.0/RujisHandwritingFontv.2.0.woff)


@import url("./fonts/Office-Code-Pro/load_as_family.css");
//	contained fonts:
//
//    Office Code Pro
//    Light
//    LightItalic
//    Regular
//    RegularItalic
//    Bold
//    BoldItalic
//
//    Office Code Pro D
//    (Dotted Zero)
//    Light
//    LightItalic
//    Regular
//    RegularItalic
//    Bold
//    BoldItalic
//
//    use as:
//    font-family: 'Office Code Pro'
//    font-style: normal | italic
//    font-weight: 300 | 400 | 500 | 700
//    or
//    font-family: 'Office Code Pro D'
//    font-style: normal | italic
//    font-weight: 300 | 400 | 500 | 700
//    info: Dotted Zero
